# Core functionality - changes here should be rare!
/src/app.py                   @jpLicera
/src/backend/database.py      @jpLicera
/src/backend/routers/auth.py  @jpLicera

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jpLicera
